msgpack_demo/assets/build/main.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><script src="http://code.jquery.com/jquery-1.9.1.min.js"></script><script src="./msgpack.codec.js"></script><script src="./api.js"></script><script src="./main.js"></script></head><body><h1>WebView</h1><h2> WebView =&gt; Native</h2><p>Image =&gt; Canvas =&gt; Base64 =&gt; Msgpack =&gt; Native</p><canvas id="main_canvas" style="width:200px; height: 200px; border:1px solid #ccc"></canvas><br><input id="url_field" placeholder="画像URL" value="http://data.whicdn.com/images/52018030/BCqYiOICQAAPLnw_large.jpg"><br><button id="load_button">URLをロード</button><button id="copy_button">UIImageViewへコピー</button><h3>Native =&gt; WebView</h3><p>Native =&gt; Base64 =&gt; Msgpack =&gt; Base64 =&gt; Image</p></body></html>

msgpack_demo/assets/source/jade/main.jade
doctype5
html(lang="en")
  head
    meta(charset='UTF-8')
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="./msgpack.codec.js")
    script(src="./api.js")
    script(src="./main.js")
  body
    h1 WebView

    h2 
      = 'WebView => Native'
    p
      = 'Image => Canvas => Base64 => Msgpack => Native'
    canvas(id='main_canvas', style='width:200px; height: 200px; border:1px solid #ccc')
    br
    input(id='url_field', placeholder='画像URL', value='http://data.whicdn.com/images/52018030/BCqYiOICQAAPLnw_large.jpg')
    br
    button(id='load_button')
      = 'URLをロード'
    button(id='copy_button')
      = 'UIImageViewへコピー'
    h3
      = 'Native => WebView'
    p
      = 'Native => Base64 => Msgpack => Base64 => Image'
